---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'

const title = 'Astro | Index';
---

<Layout title = {title} >

	<Header/>
	<h1>{title}</h1>

	<Footer/>
	<script>
		import '../scripts/menu.js'
	</script>
</Layout>
