---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
    <p>Hola Devs</p>

    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>