<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Este es un blog creado para testear Astro xd.">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Test Astro</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>

</style>
